---
title: Contacto
sortOrder: 2
---
<div class="content">
	<h4>Contactenos</h4>
	<p>Para cualquier solicitud o información no dude en contactarnos.</p>
	<address>
	  <span>Correo electónico: </span><a href="mailto:contactenos@ninohuracan.com">{{site.email}}</a>
	  <br>
	  <span>Facebook: </span><a  target="_blank" href="http://facebook.com/ninoHuracan">{{site.name}}</a>
	</address>
</div>
