---
title: Acerca de
---
<div class="content">
	<h2>Acerca de Niño Huracán</h2>
	<p>La pasión por la cerveza y la belleza del trabajo artesanal, nos unen en la creación de una cerveza artesanal auténtica y de primera calidad. El amor por la naturaleza y una filosof<span>í</span>a de bienestar integral, nos gu<span>í</span>an en la búsqueda de la fusión perfecta de los ingredientes tradicionales en la elaboración de cerveza, con el toque m<span>í</span>stico de los sabores autóctonos.</p>
	<!--<h3>Misión</h3>-->
	<!--<p>Nuestra misión es producir estilos de cerveza de carácter y personalidad cuidadosamente labrados. Creando de manera artesanal nuestros productos, buscamos ser una empresa amigable con su entorno natural y social, en la búsqueda del bienestar común. De esta forma ofrecerle a los verdaderos apasionados del arte cervecero experiencias inolvidables a su paladar. Y al mismo tiempo garantizar a nuestros clientes el menor impacto ambiental posible, con prácticas eco-amigables durante la producción de nuestras cervezas.</p>-->
	<!--<h3>Visión</h3>-->
	<!--<p>Nuestra visión en Niño Huracán es convertirnos en una cervecer<span>í</span>a artesanal referente a nivel nacional debido a una calidad inigualable en nuestros productos, que hablaran por s<span>í</span> solos. Esperamos reafirmar el desarrollo de la cultura cervecera artesanal, ayudando a la creación de un espacio que nos permita mantener intactos nuestros valores.</p>-->
</div>
