<div id='footer'>
	<div class="row row-centered">
		<ul class="legals">
      <li class="static-name-right">{{site.nameRight}}</li>
			{{#each site.footerItems}}
				  <li>{{disclaimer}}</li>
			{{/each}}
	 	</ul>
	</div>
</div>
