<div id='footer' class="container">
	<div class="row row-centered">
		<ul class="legals">
      <li class="static-name-right">{{site.nameRight}}</li>
			{{#each site.footerItems}}
				  <li class="col-md-4">{{disclaimer}}</li>
			{{/each}}
	 	</ul>
	</div>
</div>
