<div class="collapse" id="contact">
    {{> contacto}}
</div>
<div class="collapse" id="acerca">
    {{> acerca}}
</div>
<a class="button btn-left" role="button" data-toggle="collapse" href="#acerca" aria-expanded="false" aria-controls="acerca">
  {{acerca.title}}
</a>
<a class="button" role="button" data-toggle="collapse" href="#contact" aria-expanded="false" aria-controls="contact">
  {{contacto.title}}
</a>


