<div class="showcase-slide">
	{{#each site.slideShowItems}}
    	<div class="{{cssClass}}">
    		<img src="{{image}}" alt="{{altImage}}">
	    </div>
	{{/each}}
</div>
<div class="showcase-toolbar">
    <ul class="indicators">
    {{#each site.slideShowItems}}
      <li>
        <a class="indicator{{@index}}" href="#slideshow"><img src="assets/css/img/indicator.png"></a>
      </li>
		{{/each}}
    </ul>
</div>
<script language='javascript' type='text/javascript'>SLIDESHOW.TOOLBAR.init();</script>