---
component: navbar
---
<div class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand header-logo" href="{{relative page.dest "dist/index.html"}}">{{ site.name }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#withSort pages "data.sortOrder"}}
          {{#if data.title}}
            <li {{#if this.isCurrentPage}} class="active"{{/if}}>
              <a href="{{relative dest this.dest}}">{{ data.title }}</a>
            </li>
          {{/if}}
        {{/withSort}}
      </ul>
    </div>
  </div>
</div>
