@import "variables";

@media (min-width: @screen-desktop) {

  #footer .legals .static-name-right{
    visibility: hidden;
  }

  #footer .legals li{
    visibility: visible;
    float: left;
    text-align: center;
  }

  .button {
    width: 49%;
    float: left;
  }

  .btn-left {
    margin-right: 2%;
  }
}
