@import "variables";

//phones
@media (min-width: @screen-custom-ext-min) {

  .topnav{
    background-image: none;
    opacity: 0.9;
    background-color: @color-background-dark;
    width: 100%;
    border-radius: 0;
    position: fixed;
    z-index: 100;
    top: 0;

    .header-logo {
      color: @font-color-white;
      display: block;
      text-align: center;
    }
  }

}

  //tablets
@media (min-width: @screen-sm-min) {

  .topnav {
    height: 120px;
    bottom: 0;

    .header-logo {
      background-image: url("img/logo.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 100px;
      margin: 10px;
      font-size: 0px; //hide the text
    }
  }
}





