@import "variables";

@media (min-width: @screen-custom-ext-min) {
  @font-face {
    font-family: Knockout;
    src: url("../fonts/knockout/Knockout-HTF29-JuniorLiteweight.otf") format("opentype");
  }

  html {
    min-height: 100%;
    background: url(img/background-taps.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  a {
    color: @font-color-link;

    &:hover {
      color: @font-color-link;
    }
  }

  body{
    font-family: Knockout;
    font-size: @font-size-large;
  }
  
  #footer{
    visibility: hidden;
    position: fixed;
  }

  .main-content {
    position: absolute;
    top: 25px;
    width: 100%;

    .content-area {
      margin-right: auto;
      margin-left: auto;
      width: 96%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p span{
      font-family: fantasy !important;
    }
  }

  .content {
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: @font-color-title;
    margin-bottom: 10px;
  }

  .button {
    background: rgba(0, 0, 0, 0.80);
    color: @font-color-white;
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: @font-size-h3;
    padding: 15px;

    &:hover {
      font-weight: bold;
      color: @font-color-white;
      text-decoration: none;
    }

    &:focus {
      font-weight: bold;
      color: @font-color-white;
      text-decoration: none;
      outline: none;
      opacity: 0.9;
    }
  }

}

@media (min-width: @screen-sm-min) {

  body{
    font-size: @font-size-mid-large;
  }

  .main-content {
    top: 124px;
  }

  #footer{
    visibility: visible;
    background-color: @color-background-dark;
    opacity: 0.9;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow:hidden;
  }

  #footer .legals{
    list-style: none;
    margin-top: 15px;
  }

  #footer .legals li{
    visibility: hidden;
    color: @font-color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: @font-size-footer;
    line-height: 0.5em;
    letter-spacing: 0.2em;
    font-weight: 200;
  }

  #footer .legals .static-name-right{
    visibility: visible;
    width: 100%;
    text-align: center;
  }
}
