#slideshow{
  padding-top: 120px;
  width:792px;
  margin:0 auto;
}
#slideshow .showcase-slide .slide0, .slide1, .slide2, .slide3, .slide4{
  position: absolute;
  display: block;
}
#slideshow .showcase-slide .hidden{
  visibility: hidden;
}
#slideshow .showcase-toolbar{
  background: none;
  padding-top: 612px;
}

#slideshow .showcase-toolbar .indicators{
  list-style: none;
  text-align: center;
  margin: 0 auto;
  display:table;
  overflow: hidden;
  padding-left: 0px;
}
#slideshow .showcase-toolbar .indicators li{
  float: left;
  width: 24px;
  height: 24px;
}

#slideshow .showcase-toolbar .indicators li .indicator0, .indicator1, .indicator2, .indicator3, .indicator4{
  width: 24px;
  height: 24px;
}
#slideshow .showcase-toolbar .indicators .indicator .indicator-pin{
  content:url("img/indicator.png");
}
#slideshow .showcase-toolbar .indicators .indicator .inactive{
  margin-top: 1px;
  content:url("img/small-indicator.png") !important;
}

.promo-board{
  display: table;
  margin:0 auto;
  max-width: 1100px;
}
.promo-board .promo-banner{
  display: table-row;
}
.promo-board .promo-banner .promo-cell{
  display: table-cell;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;

}
.promo-board .promo-banner .promo-cell a img{
  border: 5px solid #EB8921;
}
.promo-board .promo-banner .promo-cell a div{
  position: absolute;
}
.promo-board .promo-banner .promo-cell a:hover .info{
  visibility: hidden;
  display: none;
}
.promo-board .promo-banner .promo-cell a:hover .full-info{
  visibility: visible !important;
  display: block;
  border: 1px solid #ffffff;
  width: 380px;
  height: 320px;
  margin-left: 54px;
  margin-top: 25px;
}
.promo-board .promo-banner .promo-cell a:hover .full-info p{
  font-family: "proxima-nova-n4","proxima-nova","Century Gothic",Helvetica,Arial,Sans-Serif;
  font-size: 14px;
  color: #ffffff;
  padding-left: 20px;
}
.promo-board .promo-banner .promo-cell a div h1{
  color: #FFFFFF;
  font-family: "proxima-nova-n4","proxima-nova","Century Gothic",Helvetica,Arial,Sans-Serif;
  text-transform: lowercase;
  font-size: 24px;
  font-weight: 400;
  font-weight: lighter;
  padding-left: 25px;
  padding-top: 175px;
  text-shadow: 0 0 2px #000;
  -moz-text-shadow: 0 0 1px #000;
  -webkit-text-shadow: 0 0 2px #000;
}
.promo-board .promo-banner .promo-cell a div h1 span{
  font-weight: bold;
  text-transform: uppercase;
}
