@import "variables";

@media (min-width: @screen-custom-ext-min) {
  #slideshow{
    width:100%;
    position: relative;
  }
  #slideshow .showcase-slide{
    position: relative;
    z-index: 10;
  }
  #slideshow .showcase-toolbar{
    position: relative;
    z-index: 100;
  }

  .showcase-slide .slide img{
    width: 100%;
    height: auto;
  }
  #slideshow .showcase-slide .slide0, .slide1, .slide2, .slide3, .slide4{
    position: relative;
    display: block;
  }
  #slideshow .showcase-slide .hidden{
    visibility: hidden;
  }

  #slideshow .showcase-toolbar .indicators{
    list-style: none;
    text-align: center;
    margin: 0 auto;
    display:table;
    overflow: hidden;
    padding-left: 0px;
  }
  #slideshow .showcase-toolbar .indicators li{
    float: left;
    width: 24px;
    height: 20px;
  }

  #slideshow .showcase-toolbar .indicators li .indicator0, .indicator1, .indicator2, .indicator3, .indicator4{
    width: 12px;
    height: 12px;
  }
  #slideshow .showcase-toolbar .indicators .indicator .indicator-pin{
    content:url("img/pin-16.png");
  }
  #slideshow .showcase-toolbar .indicators .indicator .indicator-pin:after{
    content:url("img/pin-16.png");
  }
  #slideshow .showcase-toolbar .indicators .indicator .inactive{
    margin-top: 1px;
    content:url("img/pin-12.png") !important;
  }
  #slideshow .showcase-toolbar .indicators .indicator .inactive:after{
    margin-top: 1px;
    content:url("img/pin-12.png") !important;
  }
  .promo-board .promo-banner{
    position: relative;
    width: 100%;
  }
  #content-area{
    display: none;
    visibility: hidden;
  }
}

//tablets
@media (min-width: @screen-sm-min) {

}

//desktop
@media (min-width: @screen-md-min) {

  #slideshow{
    padding-top: 120px;
    width:792px;
    margin:0 auto;
  }
  #slideshow .showcase-slide .slide0, .slide1, .slide2, .slide3, .slide4{
    position: absolute;
    display: block;
  }
  #slideshow .showcase-slide .hidden{
    visibility: hidden;
  }
  #slideshow .showcase-toolbar{
    background: none;
    padding-top: 312px;
  }

  #slideshow .showcase-toolbar .indicators{
    list-style: none;
    text-align: center;
    margin: 0 auto;
    display:table;
    overflow: hidden;
    padding-left: 0px;
    padding-bottom: 10px;
  }
  #slideshow .showcase-toolbar .indicators li{
    float: left;
    width: 24px;
    height: 24px;
  }

  #slideshow .showcase-toolbar .indicators li .indicator0, .indicator1, .indicator2, .indicator3, .indicator4{
    width: 24px;
    height: 24px;
  }
  #slideshow .showcase-toolbar .indicators .indicator .indicator-pin{
    content:url("img/pin-20.png");
  }
  #slideshow .showcase-toolbar .indicators .indicator .indicator-pin:after{
    content:url("img/pin-20.png");
  }
  #slideshow .showcase-toolbar .indicators .indicator .inactive{
    margin-top: 1px;
    content:url("img/pin-16.png") !important;
  }
  #slideshow .showcase-toolbar .indicators .indicator .inactive:after{
    margin-top: 1px;
    content:url("img/pin-16.png") !important;
  }
  #slideshow .showcase-toolbar .showcase-controls{
    width: 100%;
    padding-bottom: 300px;
  }
  #slideshow .showcase-toolbar .showcase-controls .prev-slide{
    float: left;
    margin-left: -20px;
  }
  #slideshow .showcase-toolbar .showcase-controls .next-slide{
    float: right;
    margin-right: -20px;
  }
  #slideshow .showcase-toolbar .showcase-controls .prev-slide .prev-arrow{
    content:url("img/prev-24.png");
  }
  #slideshow .showcase-toolbar .showcase-controls .prev-slide .prev-arrow:after{
    content:url("img/prev-24.png");
  }
  #slideshow .showcase-toolbar .showcase-controls .next-slide .next-arrow{
    content:url("img/next-24.png");
  }
  #slideshow .showcase-toolbar .showcase-controls .next-slide .next-arrow:after{
    content:url("img/next-24.png");
  }
  .promo-board{
    display: table;
    margin:0 auto;
    max-width: 1100px;
  }
  .promo-board .promo-banner{
    display: table-row;
  }
  .promo-board .promo-banner .promo-cell{
    display: table-cell;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

  }
  .promo-board .promo-banner .promo-cell a img{
    border: 3px solid #000000;
  }
  .promo-board .promo-banner .promo-cell a div{
    position: absolute;
  }
  .promo-board .promo-banner .promo-cell a .info{
    margin-left: 2px;
    margin-top: 150px;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    -webkit-transition-property: border, opacity, margin-top;
         -moz-transition-property: border, opacity, margin-top;
           -o-transition-property: border, opacity, margin-top;
              transition-property: border, opacity, margin-top;
      -webkit-transition-duration: 0.35s;
         -moz-transition-duration: 0.35s;
           -o-transition-duration: 0.35s;
              transition-duration: 0.35s;
      -webkit-transition-timing-function: linear;
         -moz-transition-timing-function: linear;
           -o-transition-timing-function: linear;
              transition-timing-function: linear;
  }
  .promo-board .promo-banner .promo-cell a:hover .info{ 
    border: 3px solid #ffffff;
    border-left: 0;
    border-right: 0;
    width: 480px;
    height: 170px;
    margin-top: 160px; 
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;  
    -webkit-transition-property: border, opacity, margin-top;
         -moz-transition-property: border, opacity, margin-top;
           -o-transition-property: border, opacity, margin-top;
              transition-property: border, opacity, margin-top;
      -webkit-transition-duration: 0.35s;
         -moz-transition-duration: 0.35s;
           -o-transition-duration: 0.35s;
              transition-duration: 0.35s;
      -webkit-transition-timing-function: linear;
         -moz-transition-timing-function: linear;
           -o-transition-timing-function: linear;
              transition-timing-function: linear; 
  }

  .promo-board .promo-banner .promo-cell a:hover .full-info{
    visibility: visible !important;
    display: block;
  }
  .promo-board .promo-banner .promo-cell a:hover .full-info p{
    font-family: "Knockout",Helvetica,Arial,Sans-Serif;
    font-size: 14px;
    color: #ffffff;
    padding-left: 50px;
  }
  .promo-board .promo-banner .promo-cell a div h1{
    color: #FFFFFF;
    font-family: "Knockout",Helvetica,Arial,Sans-Serif;
    text-transform: lowercase;
    font-size: 24px;
    font-weight: 400;
    font-weight: lighter;
    padding-left: 25px;
    padding-top: 25px;
    text-shadow: 0 0 2px #000;
    -moz-text-shadow: 0 0 1px #000;
    -webkit-text-shadow: 0 0 2px #000;
  }
  .promo-board .promo-banner .promo-cell a div h1 span{
    font-weight: bold;
    text-transform: uppercase;
  }
  #content-area{
    display: block;
    visibility: visible;
  }

}
