html {
    position: relative;
    min-height: 100%;
}
body{
    margin: 0;
}
#footer{
    background-color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow:hidden;
}
#footer .legals{
    list-style: none;
    margin-top: 15px;
}
#footer .legals li{
    float: left;
    color: #ffffff;
    text-decoration: none;
    font-family: "proxima-nova-n4","proxima-nova","Century Gothic",Helvetica,Arial,Sans-Serif;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 0.5em;
    letter-spacing: 0.2em;
    font-weight: 200;
    padding-left: 5%;
}
#footer .center-align{  
  width:1100px; 
  margin:0 auto;
}
