.topnav{
    background-image: none;
    background-color: #000000;
    height: 120px;
    border-radius: 0;
}

.topnav .nav{

}

/*#topnav .nav .menu .header-logo-container{*/
    /*float: left;*/
    /*padding-left: 0px;*/
    /*margin-top: 0px;*/
/*}*/

/*#topnav .nav .menu .header-social-container{*/
    /*float: right;*/
    /*padding-right: 25px;*/
    /*margin-top: 25px;*/
/*}*/

/*#topnav .nav .menu{*/
    /*list-style: none;*/
    /*color: #ffffff;*/
/*}*/

/*#topnav .nav .menu li{*/
    /*float: left;*/
    /*padding-left: 5%;*/
    /*margin-top: 40px;*/
/*}*/

/*#topnav .nav .menu li a{*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
    /*font-family: "proxima-nova-n4","proxima-nova","Century Gothic",Helvetica,Arial,Sans-Serif;*/
    /*text-transform: uppercase;*/
    /*font-size: 16px;*/
    /*line-height: 1em;*/
    /*letter-spacing: 2px;*/
    /*font-weight: 600;*/
/*}*/

.header-logo {
    background-image: url("img/logo.png");
    height: 100px;
    margin: 10px;
    width: 155px;
}

.header-social {
    background-image: url("img/facebook.png");
    height: 40px;
    margin: 40px;
    padding: 20px;
}